In [41]:
import pandas as pd

df = pd.read_csv('aging_model/age_des_vins_v2.csv')
area_vintage = pd.read_csv('aging_model/dataclips_areavintage.csv', header=0, usecols=[0,2,5,8], names=['id','color','area_name','region_name'])
true_areas = pd.read_csv('aging_model/areas.csv')
df_bis = pd.read_csv('aging_model/Age_des_vins_bis.csv', header=0, usecols=[2,4,5,6,7,8,9,10,11,12], names=['area','cru','type','couleur','age_min','age_max','t_min','t_max','glass_type','comments'])

In [44]:
df_bis

,area,cru,type,couleur,age_min,age_max,t_min,t_max,glass_type,comments
0,ALSACE GEWURZTRAMINER,ALSACE GEWURZTRAMINER Grand Cru,sec,blanc,5.0,25.0,15.0,NaN,Bordelais ; Alsacien,Les meilleurs jusqu'à 10 ans
1,ALSACE PINOT GRIS,ALSACE PINOT GRIS Grand Cru,sec,blanc,4.0,12.0,15.0,NaN,Bordelais ; Alsacien,Les meilleurs jusqu'à 10 ans
2,ALSACE MUSCAT,ALSACE MUSCAT Grand Cru,sec,blanc,4.0,12.0,15.0,NaN,Bordelais ; Alsacien,Les meilleurs jusqu'à 10 ans
3,ALSACE RIESLING,ALSACE RIESLING Grand Cru,sec,blanc,5.0,25.0,15.0,NaN,Bordelais ; Alsacien,Les meilleurs jusqu'à 10 ans
4,ALSACE CHASSELAS OU GUTEDEL,ALSACE CHASSELAS OU GUTEDEL,sec,blanc,1.0,5.0,15.0,NaN,Bordelais ; Alsacien,Les meilleurs jusqu'à 10 ans
...,...,...,...,...,...,...,...,...,...,...
973,Vins de pays/IGP Vallée de l'Orb,Vins de pays/IGP Vallée de l'Orb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
974,Vins de pays/IGP Vendée,Vins de pays/IGP Vendée,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
975,Vins de pays/IGP Vienne,Vins de pays/IGP Vienne,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
976,Vins de pays/IGPCoteaux de Fontcaude,Vins de pays/IGPCoteaux de Fontcaude,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
977,Vins de pays/IGPCoteaux de Miramont,Vins de pays/IGPCoteaux de Miramont,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
test = df_bis

In [215]:
test = pd.read_csv('age_des_vins_v3.csv', usecols=[3,5,8,9,10,11,12,13,14], header=0, names=['area','cru','age_min','age_max','t_min','t_max','glass_type','comments','color'])

In [211]:
df = pd.read_csv('age_des_vins_v3.csv')

In [36]:
test.head()

,area,cru,type,couleur,age_min,age_max,t_min,t_max,glass_type,comments,color
0,ALSACE GEWURZTRAMINER,ALSACE GEWURZTRAMINER Grand Cru,sec,blanc,5.0,25.0,15.0,0.0,Bordelais ; Alsacien,Les meilleurs jusqu'à 10 ans,blanc
1,ALSACE PINOT GRIS,ALSACE PINOT GRIS Grand Cru,sec,blanc,4.0,12.0,15.0,0.0,Bordelais ; Alsacien,Les meilleurs jusqu'à 10 ans,blanc
2,ALSACE MUSCAT,ALSACE MUSCAT Grand Cru,sec,blanc,4.0,12.0,15.0,0.0,Bordelais ; Alsacien,Les meilleurs jusqu'à 10 ans,blanc
3,ALSACE RIESLING,ALSACE RIESLING Grand Cru,sec,blanc,5.0,25.0,15.0,0.0,Bordelais ; Alsacien,Les meilleurs jusqu'à 10 ans,blanc
4,ALSACE CHASSELAS OU GUTEDEL,ALSACE CHASSELAS OU GUTEDEL,sec,blanc,1.0,5.0,15.0,0.0,Bordelais ; Alsacien,Les meilleurs jusqu'à 10 ans,blanc

In [13]:
test['t_max']=test['t_max'].fillna(0)
test['t_min']=test['t_min'].fillna(0)
test['age_max']=test['age_max'].fillna(0)
test['age_min']=test['age_min'].fillna(0)

In [31]:
test.couleur = test.couleur.map(lambda x: 'rouge' if x=='Rouge' else x)

In [219]:
test.to_csv('age_des_vins_v4.csv',index=False)

In [181]:
test['Type de verre'].value_counts()

Bordelais               11
Bordelais ; INAO        10
Bourgogne                4
Bordelais ; Alsacien     4
Vin Blanc; Champagne     1
Champagne                1
Name: Type de verre, dtype: int64

In [32]:
test.couleur.value_counts(), test.type.value_counts()

(blanc    395
 rouge    344
 rosé     186
 Name: couleur, dtype: int64, sec             801
 doux             70
 effervescent     34
 moelleux         17
 Effervescent      3
 Name: type, dtype: int64)

In [17]:
test.type = test.type.map(lambda x: 'doux' if x=='Doux' else x)

In [203]:
df[df.Type=='doux'].Couleur.value_counts()

blanc    55
rouge    10
rosé      5
Name: Couleur, dtype: int64

In [35]:
def change(x):
    if x['couleur']=='blanc' and x['type']=='doux' :
        return 'jaune'
    else:
        return x['couleur']
    

test['color'] = test.apply(change,axis=1)

In [77]:
test=pd.read_csv('age_des_vins_v6.csv')
test

,area,cru,type,couleur,age_min,age_max,t_min,t_max,glass_type,comments,color
0,ALSACE GEWURZTRAMINER,ALSACE GEWURZTRAMINER Grand Cru,sec,blanc,5.0,25.0,15.0,0.0,Bordelais ; Alsacien,Les meilleurs jusqu'à 10 ans,blanc
1,ALSACE PINOT GRIS,ALSACE PINOT GRIS Grand Cru,sec,blanc,4.0,12.0,15.0,0.0,Bordelais ; Alsacien,Les meilleurs jusqu'à 10 ans,blanc
2,ALSACE MUSCAT,ALSACE MUSCAT Grand Cru,sec,blanc,4.0,12.0,15.0,0.0,Bordelais ; Alsacien,Les meilleurs jusqu'à 10 ans,blanc
3,ALSACE RIESLING,ALSACE RIESLING Grand Cru,sec,blanc,5.0,25.0,15.0,0.0,Bordelais ; Alsacien,Les meilleurs jusqu'à 10 ans,blanc
4,ALSACE CHASSELAS OU GUTEDEL,ALSACE CHASSELAS OU GUTEDEL,sec,blanc,1.0,5.0,15.0,0.0,Bordelais ; Alsacien,Les meilleurs jusqu'à 10 ans,blanc
...,...,...,...,...,...,...,...,...,...,...,...
920,Ventoux,Ventoux,sec,rouge,2.0,5.0,14.0,16.0,NaN,NaN,rouge
921,Ventoux,Ventoux,sec,blanc,1.0,4.0,10.0,12.0,NaN,NaN,blanc
922,Ventoux,Ventoux,sec,rosé,1.0,2.0,10.0,11.0,NaN,NaN,rosé
923,Vinsobres,Vinsobres,sec,rouge,3.0,8.0,16.0,16.0,NaN,NaN,rouge
924,Rancio sec,Rancio sec,sec,blanc,1.0,20.0,13.0,15.0,NaN,NaN,blanc

In [72]:
test = test[test.couleur.isna()==False]

In [76]:
test

,area,cru,type,couleur,age_min,age_max,t_min,t_max,glass_type,comments,color
0,ALSACE GEWURZTRAMINER,ALSACE GEWURZTRAMINER Grand Cru,sec,blanc,5.0,25.0,15.0,0.0,Bordelais ; Alsacien,Les meilleurs jusqu'à 10 ans,blanc
1,ALSACE PINOT GRIS,ALSACE PINOT GRIS Grand Cru,sec,blanc,4.0,12.0,15.0,0.0,Bordelais ; Alsacien,Les meilleurs jusqu'à 10 ans,blanc
2,ALSACE MUSCAT,ALSACE MUSCAT Grand Cru,sec,blanc,4.0,12.0,15.0,0.0,Bordelais ; Alsacien,Les meilleurs jusqu'à 10 ans,blanc
3,ALSACE RIESLING,ALSACE RIESLING Grand Cru,sec,blanc,5.0,25.0,15.0,0.0,Bordelais ; Alsacien,Les meilleurs jusqu'à 10 ans,blanc
4,ALSACE CHASSELAS OU GUTEDEL,ALSACE CHASSELAS OU GUTEDEL,sec,blanc,1.0,5.0,15.0,0.0,Bordelais ; Alsacien,Les meilleurs jusqu'à 10 ans,blanc
...,...,...,...,...,...,...,...,...,...,...,...
921,Ventoux,Ventoux,sec,rouge,2.0,5.0,14.0,16.0,NaN,NaN,rouge
922,Ventoux,Ventoux,sec,blanc,1.0,4.0,10.0,12.0,NaN,NaN,blanc
923,Ventoux,Ventoux,sec,rosé,1.0,2.0,10.0,11.0,NaN,NaN,rosé
924,Vinsobres,Vinsobres,sec,rouge,3.0,8.0,16.0,16.0,NaN,NaN,rouge
925,Rancio sec,Rancio sec,sec,blanc,1.0,20.0,13.0,15.0,NaN,NaN,blanc

In [75]:
test.to_csv('age_des_vins_v6.csv', index=False)

In [70]:
areas = area_vintage.groupby('area_name').agg({'color':'count'}).reset_index()
areas['area_name'] = areas['area_name'].map(lambda x:x.upper())

In [131]:
true_areas['name'] = true_areas['name'].map(lambda x:x.upper())

In [69]:
df['Couleur'] = df['Couleur'].map(lambda x: 'rosé' if x=='pink' else x)
df['Cru'].map(lambda x:x.upper())

0                                    ALSACE
1                                    ALSACE
2                                    ALSACE
3                                    ALSACE
4                         ALSACE GRAND CRU
                       ...
935        VINS DE PAYS/IGP VALLÉE DE L'ORB
936                 VINS DE PAYS/IGP VENDÉE
937                 VINS DE PAYS/IGP VIENNE
938    VINS DE PAYS/IGPCOTEAUX DE FONTCAUDE
939     VINS DE PAYS/IGPCOTEAUX DE MIRAMONT
Name: Cru, Length: 940, dtype: object

In [47]:
app = df.groupby(['Appellation']).agg({'Couleur':'count'}).reset_index()

In [56]:
app.head(),app.shape

(                 Appellation  Couleur
 0                    Ajaccio        3
 1               Aloxe-Corton        4
 2                     Alsace        8
 3                      Anjou        5
 4  Anjou-coteaux-de-la-loire        1, (437, 2))

In [53]:
app.merge(areas,how='inner',left_on='Appellation',right_on='area_name')

                             Appellation  Couleur  color
0                                Ajaccio        3      4
1              Anjou-coteaux-de-la-loire        1      1
2                         Anjou-villages        1      1
3                 Anjou-villages-brissac        1      1
4                                 Arbois        5      4
..                                   ...      ...    ...
237  Vins de pays/IGPCoteaux de Narbonne        3      4
238                       Vins-d'estaing        2      4
239                               Volnay        2      1
240                              Vougeot        4      1
241                              Vouvray        3      1

[242 rows x 3 columns]

df['Cru']

In [102]:
cru = df.groupby(['Cru','Appellation']).agg({'Couleur':'count'}).reset_index()
cru['Cru']= cru['Cru'].map(lambda x: x.strip().upper())
cru['Appellation']= cru['Appellation'].map(lambda x: x.strip().upper())

In [58]:
cru.shape

(505, 2)

In [133]:
outer_join = cru.merge(true_areas, how='outer', left_on='Cru', right_on='name')

In [134]:
first_reste_barth = outer_join[outer_join.Cru.isna()][['name']]
first_reste_barth

                                 name
509           TOURAINE-AZAY-LE-RIDEAU
510                     BORDEAUX ROSÉ
511                         SAUTERNES
512                            CÉRONS
513              CRÉMANT-DE-BOURGOGNE
..                                ...
612                 CRÉMANT-DE-SAVOIE
613                     ALSACE MUSCAT
614  ALSACE KLEVENER-DE-HEILIGENSTEIN
615             ALSACE GEWURZTRAMINER
616                ALSACE EDELZWICKER

[108 rows x 1 columns]

In [136]:
after_cru_area_name_join = outer_join[outer_join.name.isna()][['Cru','Appellation','Couleur']]
after_cru_area_name_join

                                 Cru                    Appellation  Couleur
1           ALOXE-CORTON PREMIER CRU                   ALOXE-CORTON      2.0
2              ALOXE-CORTON VILLAGES                   ALOXE-CORTON      2.0
3                             ALSACE                         ALSACE      4.0
6                        ANJOU GAMAY                          ANJOU      1.0
11              ARBOIS VIN DE PAILLE                         ARBOIS      1.0
..                               ...                            ...      ...
446    VINS DE PAYS/IGP HAUTE-VIENNE  VINS DE PAYS/IGP HAUTE-VIENNE      3.0
470  VINS DE PAYS/IGP PÉRIGORD DOMME      VINS DE PAYS/IGP PÉRIGORD      1.0
503               VOLNAY PREMIER CRU                         VOLNAY      1.0
505        VOSNE-ROMANÉE PREMIER CRU                  VOSNE-ROMANÉE      1.0
507              VOUGEOT PREMIER CRU                        VOUGEOT      2.0

[137 rows x 3 columns]

In [137]:
sec_join = after_cru_area_name_join.merge(first_reste_barth, how='outer', left_on='Appellation', right_on='name')
sec_join

,Cru,Appellation,Couleur,name
0,ALOXE-CORTON PREMIER CRU,ALOXE-CORTON,2.0,ALOXE-CORTON
1,ALOXE-CORTON VILLAGES,ALOXE-CORTON,2.0,ALOXE-CORTON
2,ALSACE,ALSACE,4.0,NaN
3,CRÉMANT D'ALSACE,ALSACE,2.0,NaN
4,ANJOU GAMAY,ANJOU,1.0,NaN
...,...,...,...,...
215,NaN,NaN,NaN,CRÉMANT-DE-SAVOIE
216,NaN,NaN,NaN,ALSACE MUSCAT
217,NaN,NaN,NaN,ALSACE KLEVENER-DE-HEILIGENSTEIN
218,NaN,NaN,NaN,ALSACE GEWURZTRAMINER
219,NaN,NaN,NaN,ALSACE EDELZWICKER

In [141]:
sec_join[sec_join.name.isna()][['Cru','Appellation']]

                                 Cru                    Appellation
2                             ALSACE                         ALSACE
3                   CRÉMANT D'ALSACE                         ALSACE
4                        ANJOU GAMAY                          ANJOU
5               ARBOIS VIN DE PAILLE                         ARBOIS
6                   ARBOIS VIN JAUNE                         ARBOIS
..                               ...                            ...
132    VINS DE PAYS/IGP HAUTE-VIENNE  VINS DE PAYS/IGP HAUTE-VIENNE
133  VINS DE PAYS/IGP PÉRIGORD DOMME      VINS DE PAYS/IGP PÉRIGORD
134               VOLNAY PREMIER CRU                         VOLNAY
135        VOSNE-ROMANÉE PREMIER CRU                  VOSNE-ROMANÉE
136              VOUGEOT PREMIER CRU                        VOUGEOT

[106 rows x 2 columns]

In [149]:
sec_join[sec_join.Cru.isna()][['name']].sort_values('name')

                                 name
200       ALSACE CHASSELAS OU GUTEDEL
219                ALSACE EDELZWICKER
218             ALSACE GEWURZTRAMINER
217  ALSACE KLEVENER-DE-HEILIGENSTEIN
216                     ALSACE MUSCAT
..                                ...
195                  TOURAINE-MESLAND
208                    TOURAINE-OISLY
162                        TÂCHE (LA)
212                    VINS-D'ESTAING
165                         ÉCHÉZEAUX

[83 rows x 1 columns]

In [82]:
areas[areas['area_name']=='ALSACE GRAND CRU']

          area_name  color
5  ALSACE GRAND CRU      1

In [88]:
cru.head()

                        Cru   Appellation  Couleur
0                   AJACCIO       Ajaccio        3
1  ALOXE-CORTON PREMIER CRU  Aloxe-Corton        2
2     ALOXE-CORTON VILLAGES  Aloxe-Corton        2
3                    ALSACE        Alsace        4
4         ALSACE GRAND CRU         Alsace        2

In [97]:
cru.iloc[4,0].strip()

'ALSACE GRAND CRU'